body{
text-align: center; 
position: relative;
width: 1024px;
height: 790px;
}
.page{
position: relative;
width: 1024px;
height: 790px;
}
main{
  position: absolute;
  width: 626px;
  height: 486px;
  left: 199px;
  top: 64px;
  }


h1{
    font-family: 'Dosis', sans-serif;
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }


p{
  color: #828282;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Open Sans';
  position: center;
  text-align: center;

}

#footer{
position: absolute;
width: 626px;
height: 21px;
left: 199px;
top: 529px;
margin-right: 42px;
}
nav a{
color: #3F3D56;
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 147.68%;
}




b{
position: absolute;
width: 1024px;
height: 176px;
left: 0px;
top: 614px;
}
